@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css';
@import '@angular/cdk/overlay-prebuilt.css';
@import 'tw-animate-css';

@theme {
  --color-background: unset;
  --color-foreground: unset;
  --color-popover: unset;
  --color-popover-foreground: unset;
  --color-ring: unset;
  --color-primary: unset;
  --color-primary-foreground: unset;

  --animate-indeterminate: indeterminate 4s ease-in-out infinite;

  @keyframes indeterminate {
    0% {
      transform: translateX(-100%) scaleX(0.5);
    }
    100% {
      transform: translateX(100%) scaleX(0.5);
    }
  }
}


@plugin "daisyui" {
  themes:
    light --preferslight,
    dark --default;
}

html {
  --color-ring: var(--color-base-300);
  --color-primary-foreground: var(--color-primary-content);

  --color-popover: var(--color-base-200);
  --color-popover-foreground: var(--color-base-content);
  --color-accent-foreground: var(--color-base-content);
  --color-accent: var(--color-base-300);

  hlm-date-picker {
    --color-background: var(--color-base-100);
    --color-foreground: var(--color-base-content);
    --color-accent-foreground: var(--color-base-content);
    --color-accent: var(--color-base-300);
  }

  hlm-select-trigger > button {
    background-color: var(--color-base-100);
  }

  hlm-select-trigger > button:hover {
    background-color: var(--color-base-300);
  }
}

